<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>Бельгийская пивоварня</title>
</head>

<body data-barba="wrapper">
  <div class="root">
    <header class="header">
      <a href="./index.html" class="logo">Главная
        <h1 class="logo__title">Бельгийская</h1>
        <h3 class="logo__subtitle">Пивоварня</h3>
        <p class="logo__about">Варим с 1896</p>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" meta-name="index" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="./history.html" meta-name="history" class="nav__link">Наша история</a>
          </li>
          <li class="nav__item">
            <a href="./variety.html" meta-name="variety" class="nav__link">Сорта пива</a>
          </li>
          <li class="nav__item">
            <a href="./brewery.html" meta-name="brewery" class="nav__link">Пивоварня</a>
          </li>
          <li class="nav__item">
            <a href="./contacts.html" meta-name="contacts" class="nav__link active">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="background"></div>

    <main data-barba="container" data-barba-namespace="contacts" class="content">
      <div class="contacts part">
        <div class="contacts__wrapper">
          <h1 class="contacts__title title contacts__border">Приходите к&nbsp;нам</h1>
          <div class="contacts__adres contacts__border">
            <h4 class="contacts__name">БЕЛЬГИЙСКАЯ ПИВОВАРНЯ</h4>
            <p class="contacts__info text">Москва, Россия 15035, ул. Балчуг, 7 info@mysite.com</p>
            <p class="contacts__phone text">Тел. / +7 (495) 000 00 00 Факс / +7 (495) 000 00 00</p>
          </div>
        </div>
        <div class="contacts__wrapper">
          <ul class="social contacts__social">
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/facebook.svg" alt="facebook" class="social__icon">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/twitter.svg" alt="twitter" class="social__icon">
              </a>
            </li>
          </ul>
          <form class="contacts__feedback">
            <input type="text" placeholder="Имя" class="contacts__name contacts__input" required>
            <input type="email" placeholder="Эл. почта" class="contacts__email contacts__input" required>
            <input type="tel" placeholder="Телефон" class="contacts__tel contacts__input" required>
            <textarea type="text" placeholder="Добавьте сообщение..." class="contacts__message" required></textarea>
            <button class="contacts__submit">Отправить</button>
          </form>
        </div>
        <div class="contacts__wrapper">
          <h3 class="contacts__subtitle contacts__border">Карта</h3>
          <div class="contacts__map contacts__border">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Acf0ad5cda1615b53cae6ad44b8b52d786e9bf9bd8b77876f8aaa135d965cf36c&amp;source=constructor"
              width="700" height="240" frameborder="0"></iframe>
          </div>

        </div>
      </div>

      <footer class="footer">
        <div class="footer__wrapper">
          <p class="text footer__text">© 2077 ООО «БЕЛЬГИЙСКАЯ ПИВОВАРНЯ»</p>
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/facebook.svg" alt="facebook" class="social__icon">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/twitter.svg" alt="twitter" class="social__icon">
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </main>
  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>