<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>Бельгийская пивоварня</title>
</head>

<body data-barba="wrapper">
  <div class="root">
    <header class="header">
      <div class="logo">
        <h1 class="logo__title">Бельгийская</h1>
        <h3 class="logo__subtitle">Пивоварня</h3>
        <p class="logo__about">Варим с 1896</p>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" meta-name="index" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="./history.html" meta-name="history" class="nav__link">Наша история</a>
          </li>
          <li class="nav__item">
            <a href="./variety.html" meta-name="variety" class="nav__link active">Сорта пива</a>
          </li>
          <li class="nav__item">
            <a href="./brewery.html" meta-name="brewery" class="nav__link">Пивоварня</a>
          </li>
          <li class="nav__item">
            <a href="./contacts.html" meta-name="contacts" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="background"></div>

    <main data-barba="container" data-barba-namespace="variety" class="content">
      <div class="variety part">
        <h1 class="variety__title title">Сорта пива</h1>
        <p class="variety__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex itaque soluta placeat nihil qui obcaecati eveniet architecto earum quasi. Qui a corrupti doloribus et vitae corporis dignissimos aspernatur tempore eligendi?</p>
        <ul class="variety__list">
          <li class="variety__item">
            <img src="<%=require('../images/variety/variety1.jpg').default%>" alt="variety" class="variety__image">
            <div class="variety__info">
              <h3 class="variety__name">Бельгийское легкое пиво</h3>
              <p class="variety__text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam, ad quae corporis porro quisquam, perspiciatis sequi labore possimus commodi laboriosam unde nobis consequatur cumque! Possimus sint est quis ipsam?</p>
              <h4 class="variety__subname">Состав</h4>
              <p class="variety__structure text">Алк. 5,2% // 30 IBU
192 ккал, 350 мл</p>
            </div>
          </li>
          <li class="variety__item">
            <img src="<%=require('../images/variety/variety2.jpg').default%>" alt="variety" class="variety__image">
            <div class="variety__info">
              <h3 class="variety__name">Бельгийское паровое пиво</h3>
              <p class="variety__text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam, ad quae corporis porro quisquam, perspiciatis sequi labore possimus commodi laboriosam unde nobis consequatur cumque! Possimus sint est quis ipsam?</p>
              <h4 class="variety__subname">Состав</h4>
              <p class="variety__structure text">Алк. 5,2% // 30 IBU
192 ккал, 350 мл</p>
            </div>
          </li>
          <li class="variety__item">
            <img src="<%=require('../images/variety/variety3.jpg').default%>" alt="variety" class="variety__image">
            <div class="variety__info">
              <h3 class="variety__name">Бельгийский эль</h3>
              <p class="variety__text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam, ad quae corporis porro quisquam, perspiciatis sequi labore possimus commodi laboriosam unde nobis consequatur cumque! Possimus sint est quis ipsam?</p>
              <h4 class="variety__subname">Состав</h4>
              <p class="variety__structure text">Алк. 5,2% // 30 IBU
192 ккал, 350 мл</p>
            </div>
          </li>
          <li class="variety__item">
            <img src="<%=require('../images/variety/variety4.jpg').default%>" alt="variety" class="variety__image">
            <div class="variety__info">
              <h3 class="variety__name">Бельгийский портер</h3>
              <p class="variety__text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam, ad quae corporis porro quisquam, perspiciatis sequi labore possimus commodi laboriosam unde nobis consequatur cumque! Possimus sint est quis ipsam?</p>
              <h4 class="variety__subname">Состав</h4>
              <p class="variety__structure text">Алк. 5,2% // 30 IBU
192 ккал, 350 мл</p>
            </div>
          </li>
          <li class="variety__item">
            <img src="<%=require('../images/variety/variety5.jpg').default%>" alt="variety" class="variety__image">
            <div class="variety__info">
              <h3 class="variety__name">Бельгийское летнее пиво</h3>
              <p class="variety__text text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ullam, ad quae corporis porro quisquam, perspiciatis sequi labore possimus commodi laboriosam unde nobis consequatur cumque! Possimus sint est quis ipsam?</p>
              <h4 class="variety__subname">Состав</h4>
              <p class="variety__structure text">Алк. 5,2% // 30 IBU
192 ккал, 350 мл</p>
            </div>
          </li>
        </ul>
      </div>

      <footer class="footer">
        <div class="footer__wrapper">
          <p class="text footer__text">© 2077 ООО «БЕЛЬГИЙСКАЯ ПИВОВАРНЯ»</p>
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/facebook.svg" alt="facebook" class="social__icon">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="./images/twitter.svg" alt="twitter" class="social__icon">
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </main>
  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>