.history__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.history__item {
  display: grid;
  grid-column-gap: 30px;
  border-bottom: 1px solid #fff;
  padding: 45px 0;
  margin: 0 auto;
  width: 90%;
}

.history__item:last-child {
  border-bottom: none;
}

.history__photo {
  grid-row: 2/3;
}

.history__title {
  grid-column: 2/3;
}

.history__text {
  grid-row: 2/3;
  margin: 0;
  padding: 30px 0 0;
  border-top: 3px dotted #6E6C6C;
  font-size: 13px;
  line-height: 20px;
}