.contacts {
  display: grid;
  grid-row-gap: 30px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 700px;
  grid-gap: 30px;
}

.contacts__name {
  font-family: 'Kelly Slab';
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.contacts__adres {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.contacts__info {
  max-width: 120px;
}

.contacts__info, .contacts__phone {
  margin: 0;
  font-size: 12px;
  white-space: break-spaces;
}

.contacts__social {
  margin: 0;
}

.contacts__feedback {
  display: grid;
  grid-gap: 7px;
}

.contacts__name, .contacts__email, .contacts__tel {
  grid-column: 1/2;
}

.contacts__message {
  grid-column: 2/3;
  grid-row: 1/4;
  resize: none;
  padding: 10px 20px;
  font-style: italic;
  font-family: 'Kelly Slab';
  font-size: 13px;
  outline: none;
  border: none;
}

.contacts__submit {
  grid-column: 2/3;
  width: fit-content;
  display: flex;
  justify-self: flex-end;
}

.contacts__input {
  height: 20px;
  padding: 5px 20px;
  font-style: italic;
  font-family: 'Kelly Slab';
  font-size: 13px;
  outline: none;
  border: none;
}

.contacts__subtitle {
  font-family: 'Kelly Slab';
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.contacts__border {
  border-top: 1px solid #6e6c6c;
  padding-top: 20px;
}