@import './vendor/fonts.css';
@import './blocks/transitions/transitions.css';
@import './blocks/header/header.css';
@import './blocks/content/content.css';
@import './blocks/footer/footer.css';
html{
  overflow-y: scroll;
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.part {
  width: 1024px;
  margin: 40px auto 0;
  background-color: #000;
}

.title {
  font-family: 'Kelly Slab';
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.text {
  font-family: 'Open Sans', sans-serif;
}