<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>Бельгийская пивоварня</title>
</head>

<body data-barba="wrapper">
  <div class="root">
    <header class="header">
      <div class="logo">
        <h1 class="logo__title">Бельгийская</h1>
        <h3 class="logo__subtitle">Пивоварня</h3>
        <p class="logo__about">Варим с 1896</p>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" meta-name="index" class="nav__link active">Главная</a>
          </li>
          <li class="nav__item">
            <a href="./history.html" meta-name="history" class="nav__link">Наша история</a>
          </li>
          <li class="nav__item">
            <a href="./variety.html" meta-name="variety" class="nav__link">Сорта пива</a>
          </li>
          <li class="nav__item">
            <a href="./brewery.html" meta-name="brewery" class="nav__link">Пивоварня</a>
          </li>
          <li class="nav__item">
            <a href="./contacts.html" meta-name="contacts" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="background"></div>

    <main data-barba="container" data-barba-namespace="index" class="content">
      <div class="main">
        <ul class="main__list">
          <li class="main__item">
            <h3 class="main__title">ПИВНОЙ ФЕСТИВАЛЬ</h3>
            <img src="<%=require('./images/main/1.jpg').default%>" alt="ПИВНОЙ ФЕСТИВАЛЬ">
            <p class="text main__text">Попробуйте любимое пиво у нашей стойки на всероссийских фестивалях.</p>
            <a href="#" class="main__link">Подробнее></a>
          </li>
          <li class="main__item">
            <h3 class="main__title">СОРТА ПИВА</h3>
            <img src="<%=require('./images/main/2.jpg').default%>" alt="СОРТА ПИВА">
            <p class="text main__text">Какой бы сорт вы ни любили, мы найдем что-нибудь, что вам понравится!</p>
            <a href="#" class="main__link">Подробнее></a>
          </li>
          <li class="main__item">
            <h3 class="main__title">НАША ИСТОРИЯ</h3>
            <img src="<%=require('./images/main/3.jpg').default%>" alt="НАША ИСТОРИЯ">
            <p class="text main__text">Мы наследственные пивовары. Наше пиво, одно из лучших в стране, пьют с 1896
              года.</p>
            <a href="#" class="main__link">Подробнее></a>
          </li>
          <li class="main__item">
            <h3 class="main__title">ПИВОВАРНЯ</h3>
            <img src="<%=require('./images/main/4.jpg').default%>" alt="ПИВОВАРНЯ">
            <p class="text main__text">Отправляйтесь на экскурсию по нашей пивоварне и посетите бесплатную дегустацию
              пива.</p>
            <a href="#" class="main__link">Подробнее></a>
          </li>
        </ul>
      </div>

      <footer class="footer">
        <div class="footer__wrapper">
          <p class="text footer__text">© 2077 ООО «БЕЛЬГИЙСКАЯ ПИВОВАРНЯ»</p>
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="<%=require('./images/facebook.svg').default%>" alt="facebook" class="social__icon">
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <img src="<%=require('./images/twitter.svg').default%>" alt="twitter" class="social__icon">
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </main>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>