@import './main/main.css';
@import './history/history.css';

.background {
  background-image: url('../../images/background.png');
  width: auto;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}